{% extends base_template %}
{% load staticfiles i18n %}

{% block css %}
	<link class="css_file" href="{% static 'css/accounts/password_reset_email.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="password_reset_email">

	<div class="centre">

		<h1 class="panel thin">Send my password reset link</h1>

		<p class="panel">We will send your password reset link to the email address <b>{{ email }}</b></p>

		<form id="password_reset_email_form" class="panel" action="{% url 'accounts:password_reset_email' %}" method="post">
			
			{% csrf_token %}

			<input class="box_border" name="submit" type="submit" value="Send">
			
			<a class="box_border" href="{% url 'accounts:password_reset_begin' %}">Cancel</a>

		</form>

	</div>

</div>
{% endblock content %}