{% extends base_template %}
{% load staticfiles %}

{% block css %}
	<link class="css_file" href="{% static 'css/accounts/password_reset_begin.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="password_reset_begin">

	<div class="wrapper">

		<h1 class="panel thin">Find your account</h1>

		<form id="password_reset_begin_form" class="panel" action="{% url 'accounts:password_reset_begin' %}" method="post">

			{% csrf_token %}

			{% if form.non_field_errors %}
			<div id="password_reset_begin_form_errors" class="form_errors">
				{% for error in form.non_field_errors %}
				<p class="validation error">{{ error }}</p>
				{% endfor %}
			</div>
			{% endif %}
				
			<div id="email_container">

				{% for error in form.email.errors %}
					<p class="validation error">{{ error }}</p>
				{% endfor %}

				{{ form.email }}

			</div>

			<input id="password_reset_begin_submit" class="panel" name="submit" type="submit" value="Search">
		
		</form>

	</div>

</div>
{% endblock content %}