{% extends base_template %}
{% load staticfiles %}

{% block css %}
	<link class="css_file" href="{% static 'css/accounts/password_reset.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="password_reset">

	<div class="centre">

		<h1 class="panel thin">Reset your password</h1>
		
		<p class="panel">Your password must be at least 6 characters long and combine letters, numbers or punctuation.</p>

		<div class="user_summary panel cf">
		
			<img src="{{ form.instance.thumbnail.url }}">

			<div class="names">
				<span class="ellipsis"><b>{{ form.instance.name }}</b></span>
				<span class="ellipsis">@{{ form.instance.username }}</span>
			</div>
		
		</div>

		<form id="password_reset_form" action="{% url 'accounts:password_reset' form.token.value %}" method="post">

			{% csrf_token %}

			<div class="field panel">

				{{ form.password.label_tag }}

				<div id="password_container">
	
					{% for error in form.password.errors %}
					<p class="validation error">{{ error }}</p>
					{% endfor %}

					{{ form.password }}

				</div>

			</div>

			<div class="field panel">

				{{ form.verify_password.label_tag }}
				
				<div id="verify_password_container">

					{% for error in form.verify_password.errors %}
					<p class="validation error">{{ error }}</p>
					{% endfor %}

					{{ form.verify_password }}

				</div>

			</div>

			<input id="password_reset_submit" class="panel" name="submit" type="submit" value="Save">

		</form>

	</div>
</div>
{% endblock content %}

{% block js %}
	<script class="js_file" src="{% static 'js/helpers/validation.js' %}"></script>
	<script class="js_file" src="{% static 'js/accounts/password_reset.js' %}"></script>
{% endblock js %}

