{% extends base_template %}
{% load staticfiles %}

{% block css %}
	<link class="css_file" href="{% static 'css/accounts/password_reset_sent.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="password_reset_sent">

	<div class="centre">

		<h1 class="panel thin">We have sent you an email</h1>

		<p class="panel">Follow the link in the email to reset your password. Don't forget to check your email folders such as <b>junk</b>, <b>spam</b> or <b>social</b> if you cannot see the email.</p>

	</div>

</div>
{% endblock content %}