/* -------------------------------------------------------------------------- */

#password_reset_email{

	margin: auto;
	text-align: center;

}

#password_reset_email .panel{

	margin: 20px 0;

}

#password_reset_email > .centre{

	display: inline-block;
	vertical-align: top;
	margin: 20px;
	text-align: left;

}

#password_reset_email p{

	font-size: 16px;

}

#password_reset_email_form input,
#password_reset_email_form a{

	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #333;
	border-radius: 4px;

}

#password_reset_email_form input{

	margin-right: 20px;
	background-color: #333;
	color: #FFF;

}

#password_reset_email_form a{

	text-decoration: none;
	color: #333;

}

/* -------------------------------------------------------------------------- */

