/* -------------------------------------------------------------------------- */

#password_reset{

	margin: auto;
	padding: 0 20px;
	max-width: 600px;
	text-align: center;

}

#password_reset > .centre{

	margin: 20px 0;
	display: inline-block;
	vertical-align: top;
	text-align: left;

	
	max-width: 100%;

}

#password_reset .panel{

	margin: 20px 0;

}

img,
div.names{

	float: left;
	max-width: 100%;

}

div.names > span{

	display: block;
	height: 20px;
	line-height: 20px;

}

img{

	width: 40px;
	margin-right: 10px;
	border-radius: 4px;

}


#password_reset_form p.error{

	margin: 10px 0;
	color: #1C82DA;

}

#password_reset_form label{

	display: block;
	margin-bottom: 10px;

}

#password_reset_form input{
	display: block;
	padding: 0 15px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
}

input#password_reset_submit{

	width: auto;
	background-color: #333;
	color: #FFF;

}

/* -------------------------------------------------------------------------- */

