/* -------------------------------------------------------------------------- */

#password_reset_sent{

	margin: auto;
	text-align: center;

}

#password_reset_sent .panel{

	margin: 20px 0;

}

#password_reset_sent > .centre{

	display: inline-block;
	vertical-align: top;
	margin: 20px;
	max-width: 600px;
	text-align: left;

}

#password_reset_sent p{

	font-size: 16px;

}


/* -------------------------------------------------------------------------- */

