/* -------------------------------------------------------------------------- */

#capture_container{

	padding: 60px 0 10px 0;

}

#capture{

	margin: 0 auto;
	width: 100%;
	max-width: 600px;

	background-color: #FFF;
	overflow: auto;

}

body.capture_modal_open{
	overflow: hidden;
	position: relative;
}

/* -------------------------------------------------------------------------- */

#capture_body{

	position: relative;
	margin: 10px;

}

#capture_body video{

	display: block;
	width: 100%;
	height: auto;
	background-color: #EFEFEF;

}

#capture_body canvas{

	z-index: 2;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

#capture_body canvas.show{

	height: 100%;

}

#capture_body span.countdown{

	z-index: 3;
	position: absolute;
	top: 10px; right: 10px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	background-color: red;

}

/* -------------------------------------------------------------------------- */

#capture_footer{

	border-top: 1px solid #EFEFEF;

}

#capture_footer button{

	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background-color: #FFF;
	cursor: pointer;

}

#capture_footer button:hover{

	text-decoration: underline;

}

/* -------------------------------------------------------------------------- */

.file_input{
	
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: auto;
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 4px;
	text-align: center;
	background-color: #FFF;

}

#main_content input.file{

	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Other Browsers */
	opacity: 0;

}

/* Chrome fix */
#main_content input.file::-webkit-file-upload-button{

	cursor: pointer;

}

/* IE fix */
/*
input.file::-ms-value {

	display: none;

}

input.file::-ms-browse{

	width: 200px;
	border: none;

}
*/

/* -------------------------------------------------------------------------- */

#editor_container{

	padding: 60px 0 10px 0;

}

#editor{

	position: relative;
	display: inline-block;
	max-height: 100%;
	background-color: #FFF;
	border-radius: 4px;
	overflow: auto;

}

/* -------------------------------------------------------------------------- */

#editor_header{

	position: relative;
	padding: 5px 10px;
	text-align: left;
	border-bottom: 1px solid #EFEFEF;

}

#editor_header > h2{

	margin: 0 40px 0 0;
	line-height: 30px;
	font-size: 20px;

}

#editor_header > button{

	position: absolute;
	top:7px; right:10px;
	display: block;
	width: 26px;
	height: 26px;
	background-color: transparent;

}

/* -------------------------------------------------------------------------- */

#editor_body{

	position: relative;
	background-color: #EFEFEF;
	overflow: hidden;

}

#editor_body > .overlay{

	z-index: 100;
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	border: 30px solid #FFF;
	pointer-events: none;

}

#editor_content{

	/* Set the width and height dynamically using javascript */

}

#editor_content > div:first-child{

	background-color: #1C82DA;

}
#editor_content > div:last-child{

	background-color: #9219DD;

}

#editor_content > .clipping_mask{

	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	/* Set the width and height dynamically using javascript */

	transition: height 0.2s ease;

}

#editor_content > .clipping_mask > div{

	position: absolute;

}

#editor_content span.loading{

	z-index: 100;
	position: absolute;
	top:50%; left:0; bottom:0; right:0;
	margin: -25px auto 0 auto;
	width: 50px;
	height: 50px;
	background-color: red;

}

#editor_content img,
#editor_content video,
#editor_content canvas{

	position: relative;
	display: block;

	/* Set the width and height dynamically using javascript */

	cursor: move;

}

/* -------------------------------------------------------------------------- */


#editor_footer{

	margin: 0 30px;

}


div.editor_slider{

	position: relative;
	margin: 10px 0;
	height: 26px;

}

button.slider{

	z-index: 2;
	position: absolute;
	top: 0; left: 0;
	margin-left: -13px;
	width: 26px;
	height: 26px;

}

span.slider_track{

	position: relative;
	top: 11px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #E6E6E6;

}

span.trail{

	display: block;
	width: 0;
	height: 100%;
	background-color: #9219DD;

}

/* ----------------------------------- */

#thumbnail_selector{

	position: relative;
	padding-right: 83px;

}

#thumbnail_time{

	position: absolute;
	top: 0; right: 0;
	width: 60px;
	height: 100%;
	border: none;
	text-align: center;
	background-color: #E6E6E6;

}

div.thumbnail_slider{

	background-color: #E6E6E6;

}

button.thumbnail_slider{

	border-radius: 4px;
	border: 4px solid #9219DD;
	background-color: transparent;

}

span.splitter{

	display: block;
	margin: auto;
	width: 2px;
	height: 100%;
	background-color: #9219DD;
}

/* ----------------------------------- */

div.thumbnail_slider{

	background-color: #E6E6E6;

}

button.scale_slider{

	border-radius: 100%;
	background-color: #9219DD;
	box-shadow: 0 0 2px 0.5px rgba(51, 51, 51, 0.2);

}

/* ----------------------------------- */

div.editor_actions button,
div.editor_actions .file_input{

	display: inline-block;
	vertical-align: middle;
	margin: 10px 5px;
	height: 26px;
	border-radius: 4px;
	background-color: #666;
	color: #FFF;

}

#editor_submit{

	padding: 0 8px;

}

/* -------------------------------------------------------------------------- */

#editor_menu{

	display: none;
	z-index: 20;
	position: absolute;
	top:10px; left:10px;
	text-align: left;

}

#editor_content #editor_menu{

	display: block;

}

/* ----------------------------------- */

#editor_menu button{

	display: block;

}

#toggle_editor_menu_actions,
#toggle_editor_menu_actions > span.icon{

	height: 20px;

}

#toggle_editor_menu_actions{

	outline: none;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);

}

#toggle_editor_menu_actions > span.icon{

	margin-top: -6px;

}

/* ----------------------------------- */

#editor_menu_actions{

	margin-top: 10px;
	border-radius: 4px;
	background-color: #FFF;
	overflow: hidden;

}

#editor_menu_actions > button{

	padding: 5px 10px;
	background-color: transparent;

}

/* -------------------------------------------------------------------------- */



