 /* ------------------------------------------------------------------------- */

#main_content{

	text-align: center;

}

#home_auth{

	display: inline-block;
	vertical-align: top;
	padding: 20px 0;
	max-width: 100%;
	text-align: center;

}

/* -------------------------------------------------------------------------- */

#home_auth .content{

	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 560px;
	text-align: left;

}

#timeline .post{

	margin-bottom: 10px;

}

#timeline .post:last-child{

	margin-bottom: 0;

}

#timeline .post_data{

	padding: 15px 20px 20px 20px;

}

p.no_posts{

	margin: 0;
	padding: 10px;
	font-size: 16px;

}

/* ---------------------------------- */

a.title{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;

}

h1.post_title{

	font-size: 16px;
	color: #333;

}

/* ---------------------------------- */

div.post_actions{

	margin: 2px 0 18px 0;

}

/* ---------------------------------- */

div.post_user img{

	width: 32px;
	height: 32px;

}

div.user_names{

	margin: 0 0 0 37px;

}

div.user_names .name{

	line-height: 18px;
	font-size: 14px;
	color: #333;

}

div.user_names .username{

	line-height: 14px;
	font-size: 12px;

}

div.user_actions a.toggle_actions_menu{

	width: 26px;
	height: 32px;
	overflow: hidden;

}

a.toggle_actions_menu span.icon{

	margin-top: 8px;
	width: auto;
	height: 16px;

}

/* -------------------------------------------------------------------------- */

div.side_panel{

	display: none;
	width: 280px;

}

div.left_panel{

	margin-right: 20px;

}

div.right_panel{

	margin-left: 20px;

}


div.side_panel .wrapper{

	width: 100%;
	height: 10px;

}

div.side_panel .position{

	position: fixed;
	width: 280px;
	overflow: hidden;

}
/*
@media all and (min-width: 900px){


	#home_auth div.left_panel{

		display: inline-block;
		vertical-align: top;

	}

}

@media all and (min-width: 900px){


	#home_auth div.right_panel{

		display: inline-block;
		vertical-align: top;

	}

}*/

/* -------------------------------------------------------------------------- */


#home_auth .load{

	text-align: center;

}

#load_posts{

	display: inline-block;
	vertical-align: middle;
	margin: 40px auto 20px auto;

}

/* -------------------------------------------------------------------------- 