/*

	Override base.css styling to for the nav menu open.
	
*/

html{

	background-color: #3B3B3B;

}

div.nav_menu{

	width: auto;

}

#toggle_nav_ul{

	display: inline-block;

}

#nav_ul,
#nav_ul.open{

	position: absolute;
	top: 48px;
	height: 100%;
	height: -webkit-calc(100% - 48px);
	height: -moz-calc(100% - 48px);
	height: calc(100% - 48px);
	background-color: rgba(51, 51, 51, 0.96);
	overflow: scroll;
	text-align: left;
	background-color: transparent;
}

#nav_ul li{

	display: block;
	max-width: none;

}