{% extends base_template %}
{% load staticfiles %}

{% block css %}
    <link class="css_file" href="{% static 'css/settings/setting.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="change_password" class="settings">

    <div class="centre">


        <div id="tabs" class="cf">

            <a id="account_settings" class="tab" href="{% url 'settings:account' %}">
              
              <span class="text">Account</span>
              <span class="icon icon_right_arrow"></span>

            </a>

            <a id="password_settings" class="tab selected" href="{% url 'settings:password' %}">
              
              <span class="text">Password</span>
              <span class="icon icon_right_arrow_white"></span>

            </a>

        </div>


        <div id="tab_content">

            <div id="password_settings_tab">

                <form id="password_form" action="{% url 'settings:password' %}" method="post">
                    
                    {% csrf_token %}

                    {% if password_form.non_field_errors %}
                    <div id="password_form_errors" class="form_errors">

                        {% for error in password_form.non_field_errors %}
                            <p class="validation error">{{ error }}</p>
                        {% endfor %}

                    </div>
                    
                    {% endif %}

                    <div class="field">
                        
                        {{ password_form.password.label_tag }}
                        
                        <div id="password_container">

                            {% for error in password_form.password.errors %}
                            <p class="validation error">{{ error }}</p>
                            {% endfor %}

                           {{ password_form.password }}
                        
                        </div>
                        
                    </div>
                    
                    <div class="field">
                        
                        {{ password_form.new_password.label_tag }}

                        <div id="new_password_container">

                            {% for error in password_form.new_password.errors %}
                            <p class="validation error">{{ error }}</p>
                            {% endfor %}

                            {{ password_form.new_password }}
                        
                        </div>
                    
                    </div>

                    <div class="field">
                        
                        {{ password_form.verify_password.label_tag }}

                        <div id="verify_password_container">

                            {% for error in password_form.verify_password.errors %}
                            <p class="validation error">{{ error }}</p>
                            {% endfor %}

                            {{ password_form.verify_password }}

                        </div>

                    </div>

                    <div class="field submit_container">
                    
                        <input id="password_submit" class="submit_btn" type="submit" value="Change password">

                    </div>

                  
                </form>

            </div>

        </div>


    </div>

</div>
{% endblock content %}

{% block js %}
    <script class="js_file" src="{% static 'js/helpers/validation.js' %}"></script>
    <script class="js_file" src="{% static 'js/settings/setting.js' %}"></script>
{% endblock js %}
