/* FONT */
/* -------------------------------------------------------------------------- */

@import url("fonts/font.css");

b, .bold{

	font-family: 'open_sansregular', Helvetica, Arial, Verdana, sans-serif;

}

.thin{

	font-family: 'open_sanslight', Helvetica, Arial, Verdana, sans-serif;

}

/* END FONT */
/* -------------------------------------------------------------------------- */




/* PAGE STRUCTURE */
/* -------------------------------------------------------------------------- */

html, body{

	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background-color: #FFF;
	color: #333333;

}

body.preload *{

	-moz-transition: none !important;

}

ul{

	margin: 0;
	padding: 0;
	list-style: none;

}

a{

	color: #1C82DA;
	text-decoration: none;

}

button{

	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;

}

/* Disable double-tap-to-zoom for fast click response on mobile browsers */
a,
button{

	-ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */

}

/* Remove text/search cancel button */
input[type=text]::-ms-clear {  display: none; width: 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width: 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* END PAGE STRUCTURE */
/* -------------------------------------------------------------------------- */




/* CLEAR FIX BY NICOLAS GALLAGHER */
/* -------------------------------------------------------------------------- */

/* http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after{

    content: " ";
    display: table;

}

.cf:after {

    clear: both;

}

/*
	For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.
 */
.cf {

    *zoom: 1;

}

/* END CLEAR FIX BY NICOLAS GALLAGHER */
/* -------------------------------------------------------------------------- */




/* ACCESSIBILITY */
/* -------------------------------------------------------------------------- */

#skip_nav{

	position: absolute;
	left: -9999em;

}

/* END ACCESSIBILITY */
/* -------------------------------------------------------------------------- */




/* NAV BAR */
/* -------------------------------------------------------------------------- */

header, nav{

	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: #FFF;
	color: #333;

}

header{

	z-index: 9000;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	border-bottom: 1px solid #333;

}

nav{

	display: block;

}

nav div.col{

	height: 48px;
	line-height: 48px;
	text-align: center;

}

header span.loading_bar{

	z-index: 9001;
	position: absolute;
	top: 48px; left: 0;
	transition: width 0.4s ease;
	height: 1px;
	background-color: #9219DD;
	box-shadow: 0 1px 2px 0.5px rgba(51, 51, 51, 0.2);

}

/* ---------------------------------- */

#nav_search{

	z-index: 5;
	position: relative;
	float: left;
	padding: 0 20px;
	width: 66px;
	transition: all 0.4s ease;
	background-color: #FFF;

}

#nav_search.open{

	position: absolute;
	top: 0; left: 0;
	width: 100%;

}

div.search_wrapper{

	display: table;
	width: 100%;
	height: 100%;

}

#nav_search .cell{

	display: table-cell;
	vertical-align: middle;

}

#nav_search button{

	display: block;
	background-color: transparent;

}


#nav_search .search_form{

	position: relative;
	display: none;

}

#nav_search.open .search_form{

	display: block;

}

#nav_search.open .search_data{

	margin-left: 36px;

}

div.search_close{

	margin: 11px auto;
	float: left;

}

#nav_search_form{

	position: relative;
	display: block;
	overflow: hidden;

}

div.search_close,
#nav_search_form,
div.search_data{

	margin-right: 10px;

}

#nav_search_form input{

	padding: 0 30px 0 0;
	width: 100%;
	height: 26px;
	line-height: 26px;
	border: none;
	outline: none;
	background-color: transparent;

}

#nav_search_form button{

	position: absolute;
	top: 11px; right: 0;

}


div.search_submit{

	width: 26px;

}

/* ---------------------------------- */

div.search_data{

	position: absolute;
	top: 48px; left: 0; right: 0;
	line-height: normal;
	text-align: left;

}
div.search_data.open{

	border: 1px solid #333;

}


#filter_ul{

	height: 0;
	transition: height 0.2s ease;
	background-color: #333;
	color: #FFF;
	overflow: hidden;

}
#filter_ul.open{

	height: auto;

}
#filter_ul li{

	padding: 10px;
	cursor: pointer;

}
#filter_ul li:hover,
#filter_ul li.selected{

	background-color: #444;

}


#suggestions{

	display: none;
	background-color: #FFF;

}

#suggestions.open{

	display: block;

}

#suggestions a{

	display: block;
	padding: 10px;
	color: #333;
	outline: none;

}
#suggestions li:hover a,
#suggestions li:hover span,
#suggestions li.selected a,
#suggestions li.selected span{

	background-color: #333;
	color: #FFF;

}

ul.posts_suggestions div.title{

	font-size: 1em;
	max-height: 2.8em;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: -o-ellipsis-lastline;

}

ul.users_suggestions img{

	float: left;
	margin-right: 6px;
	width: 36px;
	height: 36px;
	border-radius: 4px;

}
ul.users_suggestions div.names{

	overflow: hidden;

}
ul.users_suggestions span{

	display: block;

}
ul.users_suggestions span.username{

	font-size: 12px;
	color: #999;

}

/* ---------------------------------- */

div.nav_logo{

	margin: auto;
	position: absolute;
	top: 0; left: 0; right: 0;
	width: 26px;

}

div.nav_logo a{

	display: inline-block;
	vertical-align: middle;
	margin: auto;

}

/* ---------------------------------- */

div.nav_menu{
	
	float: right;

}

#toggle_nav_ul{

	position: absolute;
	top: 11px; right: 20px;

}

#nav_ul{

	z-index: 5;
	position: absolute;
	top: 48px; left: 0; right: 0;
	display: block;
	padding: 0 10px;
	width: 100%;
	min-width: 0;
	height: 0;
	transition: width 0.4s ease, top 0.4s ease;
	overflow: hidden;
	text-align: left;

}

#nav_ul.open{

	height: 100%;
	height: -webkit-calc(100% - 48px);
	height: -moz-calc(100% - 48px);
	height: calc(100% - 48px);
	background-color: rgba(51, 51, 51, 0.96);

	height: auto;
	overflow: scroll;

}

body.nav_ul_open{

	overflow: hidden;

}

#nav_ul a{

	display: block;
	padding: 0 10px;
	color: #333;

}

#nav_ul.open a{

	color: #FFF;

}

#nav_ul a:hover{

	color: #A9A9A9;

}

/* -------------------------------------------------------------------------- */

@media all and (min-width: 760px){

	#nav_search, #nav_search.open{

		position: relative;
		width: 40%;
		max-width: 360px;

	}

	#nav_search .search_form{

		display: block;

	}

	#nav_search.open .search_data{

		margin-left: 0;

	}

	div.search_close{

		display: none;

	}

	/* ---------------------------------- */

	div.nav_menu{

		width: 45%;
		overflow: hidden;

	}

	#toggle_nav_ul{

		display: none;

	}

	#nav_ul, 
	#nav_ul.open{

		position: relative;
		top: 0;
		overflow: visible;
		text-align: right;
		background-color: #FFF;
		color: #333;

	}

	body.nav_ul_open{

		overflow: visible;

	}

	#nav_ul li{

		display: inline-block;
		vertical-align: middle;
		/* 100 / Max number of buttons */
		max-width: 25%;
	
	}

	#nav_ul.open a{

		color: #333;

	}

}

/* END NAV BAR */
/* -------------------------------------------------------------------------- */




/* MESSAGES */
/* -------------------------------------------------------------------------- */

#messages{

	z-index: 8999;
	display: none;
	position: fixed;
	top: 48px; left: 0; right: 0;

	padding: 0 10px 10px 10px;
	text-align: center;
	overflow: hidden;

}

#messages.show{

	display: block;

}

#messages > .wrapper{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;

}

#messages .container{

	z-index: 9000;
	position: relative;
	min-width: 0;
	max-width: 600px;
	padding: 15px;
	border: 1px solid #333;
	border-radius: 0 0 4px 4px;
	border-top: none;
	background-color: #FFF;

}

#messages .text{

	margin-right: 40px;

}

#messages p{

	margin: 0 0 10px 0;
	word-wrap: break-word;

}

#messages p:last-child{

	margin: 0;

}

#messages div.close{

	position: absolute;
	top: 15px; right: 12px; bottom: 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;

}

#messages button{

	display: block;
	background-color: transparent;

}

/* ---------------------------------- */

#messages.no_js{

	position: relative;
	padding: 0 5px;
	background-color: #F6F6F6;

}

#messages.no_js .container{

	background-color: #F6F6F6;
	max-width: 1200px;
	border: none;

}

#messages.no_js .text{

	margin-right: 0;

}

/* END MESSAGES */
/* -------------------------------------------------------------------------- */




/* EMAIL CONFIRMATION */
/* -------------------------------------------------------------------------- */

div.email_confirmation{

	text-align: center;

}

#email_confirmation_form{

	display: inline-block;
	vertical-align: top;
	padding: 10px;
	border-radius: 0 0 4px 4px;
	background-color: #E6E6E6;

}

#email_confirmation_form p{

	margin: 10px;
	font-size: 14px;

}

#email_confirmation_form .resend_confirmation{

	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #333;
	background-color: #FFF;

}

#email_confirmation_form .change_email{

	display: inline-block;
	vertical-align: middle;
	margin: 10px;

}

/* END EMAIL CONFIRMATION */
/* -------------------------------------------------------------------------- */




/* PAGE CONTAINERS */
/* -------------------------------------------------------------------------- */

/* Outer container */
#content_container{

	position: absolute;
	top: 48px; left:0; right:0; bottom:0;

}

/* Content container */
#main_content{

	position: relative;
	width: 100%;
	height: 100%;

}

/* Page container */
.container{

	margin: auto;
	min-width: 320px;
	max-width: 1200px;

}

/* END PAGE CONTAINERS */
/* -------------------------------------------------------------------------- */




/* CLASSES */
/* -------------------------------------------------------------------------- */

.hide{

	display: none;

}

.show{

	display: block;

}

.hidden{

	visibility: hidden;

}

.box_border{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.ellipsis{

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;

}

.cloak {

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Other Browsers */
	opacity: 0;

}

.disabled{

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Other Browsers */
	opacity: 0.5;

}

.modal {

	position: relative;
	text-align: center;
	position: fixed;
	z-index: 9000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(255,255,255); /* Fallback color */
	background-color: rgba(0,0,0,0.4);

}

/* Prevent the body from scrolling when the modal is open */
body.modal_open{

	overflow: hidden;
	position: relative;

}


.caret_up, .caret_down, .caret_left, .caret_right{

	width: 0;
	height: 0;

}

.caret_up, .caret_down{

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	

}

.caret_left, .caret_right{

	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;	

}

.caret_up{

	border-bottom: 8px solid #333;

}

.caret_down {

	border-top: 8px solid #333;

}

.caret_left {

	border-right:8px solid #333; 

}

.caret_right {

	border-left: 8px solid #333;

}


.animation{

	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;

}

.pulse{

	-webkit-animation: 2s linear 0s infinite normal none running pulse;
	-moz-animation: 2s linear 0s infinite normal none running pulse;
	-o-animation: 2s linear 0s infinite normal none running pulse;
	animation: 2s linear 0s infinite normal none running pulse;

}

@-webkit-keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}

@-moz-keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}

@-o-keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}

@keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}


.bounce{

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	width: 70px;
	height: 20px;

}

.bounce > div{

	width: 20px;
	height: 20px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	vertical-align: top;

	-webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
	-moz-animation: bouncedelay 1.4s infinite ease-in-out both;
	-o-animation: bouncedelay 1.4s infinite ease-in-out both;
	animation: bouncedelay 1.4s infinite ease-in-out both;

}

.bounce .one{

	-webkit-animation-delay: -0.32s;
	-moz-animation-delay: -0.32s;
	-o-animation-delay: -0.32s;
	animation-delay: -0.32s;

}

.bounce .two{

	-webkit-animation-delay: -0.16s;
	-moz-animation-delay: -0.16s;
	-o-animation-delay: -0.16s;
	animation-delay: -0.16s;

}

@-webkit-keyframes bouncedelay{

	0%, 80%, 100% {

		-webkit-transform: scale(0.4)

	}

	40%{

		-webkit-transform: scale(1.0)

	}

}

@-moz-keyframes bouncedelay{

	0%, 80%, 100% {

		-moz-transform: scale(0.4)

	}

	40%{

		-moz-transform: scale(1.0)

	}

}

@-o-keyframes bouncedelay{

	0%, 80%, 100% {

		-o-transform: scale(0.4)

	}

	40%{

		-o-transform: scale(1.0)

	}

}

@keyframes bouncedelay{

	0%, 80%, 100%{
	
		transform: scale(0.4);
	
	}

	40%{

		transform: scale(1.0);
	
	}

}

/* END CLASSES */
/* -------------------------------------------------------------------------- */




/* ICONS */
/* -------------------------------------------------------------------------- */

.icon{

	display: block;
	margin: auto;
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-size: 26px 1222px;
	background-image: url("../icons/icons.svg");

}

.icon_logo{

	background-position: 0 0;

}

.icon_logo_white{

	background-position: 0 -26px;

}

.icon_search{

	background-position: 0 -52px;

}

.icon_search_white{

	background-position: 0 -78px;

}

.icon_cross{

	background-position: 0 -104px;

}

.icon_cross_white{

	background-position: 0 -130px;

}

.icon_down_arrow{

	background-position: 0 -156px;

}

.icon_up_arrow{

	background-position: 0 -182px;

}

.icon_left_arrow{

	background-position: 0 -208px;

}

.icon_right_arrow{

	background-position: 0 -234px;

}

.icon_down_arrow_white{

	background-position: 0 -260px;

}

.icon_up_arrow_white{

	background-position: 0 -286px;

}

.icon_left_arrow_white{

	background-position: 0 -312px;

}

.icon_right_arrow_white{

	background-position: 0 -338px;

}

.icon_menu{

	background-position: 0 -364px;

}

.icon_menu_white{

	background-position: 0 -390px;

}

.icon_camera{

	background-position: 0 -416px;

}

.icon_camera_white{

	background-position: 0 -442px;

}

.icon_video{

	background-position: 0 -468px;

}

.icon_video_white{

	background-position: 0 -494px;

}

.icon_image{

	background-position: 0 -520px;

}

.icon_image_white{

	background-position: 0 -546px;

}

.icon_account{

	background-position: 0 -572px;

}

.icon_account_white{

	background-position: 0 -598px;

}

.icon_follow{

	background-position: 0 -624px;

}

.icon_follow_white{

	background-position: 0 -650px;

}

.icon_unfollow{

	background-position: 0 -676px;

}

.icon_unfollow_white{

	background-position: 0 -702px;

}

.icon_play{

	background-position: 0 -728px;

}

.icon_play_white{

	background-position: 0 -754px;

}

.icon_pause{

	background-position: 0 -780px;

}

.icon_pause_white{

	background-position: 0 -806px;

}

.icon_volume{

	background-position: 0 -832px;

}

.icon_volume_white{

	background-position: 0 -858px;

}

.icon_mute{

	background-position: 0 -884px;

}

.icon_mute_white{

	background-position: 0 -910px;

}

.icon_expand{

	background-position: 0 -936px;

}

.icon_expand_white{

	background-position: 0 -962px;

}

.icon_loop{

	background-position: 0 -988px;

}

.icon_loop_white{

	background-position: 0 -1014px;

}

.icon_repeat{

	background-position: 0 -1040px;

}

.icon_repeat_white{

	background-position: 0 -1066px;

}

.icon_location{

	background-position: 0 -1092px;

}

.icon_location_white{

	background-position: 0 -1118px;

}

.icon_edit{

	background-position: 0 -1144px;

}

.icon_edit_white{

	background-position: 0 -1170px;

}

.icon_colour_picker{

	background-position: 0 -1196px;

}

/* END ICONS */
/* -------------------------------------------------------------------------- */




/* FONT ICONS */
/* -------------------------------------------------------------------------- */

/*.font_icon{

	display: block;
	margin: auto;
	width: 32px;
	height: 32px;

	background-image: url("../icons/font_icons.svg");
	background-repeat: no-repeat;
	background-size: 64px 352px;

}

.font_icon.selected{

	background-position-x: -32px;

}

.icon_love{

	background-position: 0 0;

}

.icon_like{

	background-position: 0 -32px;

}

.icon_dislike{

	background-position: 0 -64px;

}

.icon_no{

	background-position: 0 -96px;

}

.icon_yes{

	background-position: 0 -128px;

}

.icon_smile{

	background-position: 0 -160px;

}

.icon_sad{

	background-position: 0 -192px;

}

.icon_tongue{

	background-position: 0 -224px;

}

.icon_angry{

	background-position: 0 -256px;

}

.icon_sick{

	background-position: 0 -288px;

}

.icon_star{

	background-position: 0 -320px;

}*/

.font_icon{

	display: block;
	width: 26px;
	height: 26px;
	background-image: url("../icons/font_icons.svg");
	background-repeat: no-repeat;
	background-size: 52px 286px;

}

.font_icon.selected{

	background-position-x: -26px;

}

.icon_love{

	background-position: 0 0;

}

.icon_like{

	background-position: 0 -26px;

}

.icon_dislike{

	background-position: 0 -52px;

}

.icon_no{

	background-position: 0 -78px;

}

.icon_yes{

	background-position: 0 -104px;

}

.icon_smile{

	background-position: 0 -130px;

}

.icon_sad{

	background-position: 0 -156px;

}

.icon_tongue{

	background-position: 0 -182px;

}

.icon_angry{

	background-position: 0 -208px;

}

.icon_sick{

	background-position: 0 -234px;

}

.icon_star{

	background-position: 0 -260px;

}

/* -------------------------------------------------------------------------- */



