{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Bad Request{% endblock title %}

{% block css %}
	<link class="css_file" href="{% static 'css/400.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="error_400">

	<h1>Ooops!!! 400</h1>

	<h3>Looks like something went wrong!</h3>

	<p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>

</div>
{% endblock content %}

